@font-face {
  font-family: Thunder;
  src: url(../assets/fonts/Thunder-VF.ttf);
}
@font-face {
  font-family: Manrope;
  src: url(../assets/fonts/Manrope-VariableFont_wght.ttf);
}
.orange-btn {
  background-color: #ff5740;
  color: #fbfaf7;
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
  text-align: center;
  font-family: "Thunder";
  height: 40px;
  width: auto; /* Change from fixed width to auto */
  font-size: 16px; /* Adjust font size for mobile */
  padding: 8px 16px;
  font-variation-settings: "wght" 700, "CNTR" 0;
  cursor: pointer;
}

.cta {
  background-color: #ff5740;
  color: #fbfaf7;
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
  text-align: center;
  font-family: "Thunder";
  height: 48px;
  font-variation-settings: "wght" 700, "CNTR" 0;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.flex-btn {
  display: flex;
  width: 36px;
  height: 14px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  border: none;
  cursor: pointer;
  z-index: 100;
  margin-right: 15px;
}

@media (min-width: 1024px) {
  .orange-btn {
    font-size: 18px; /* Increase font size on larger screens */
    padding: 12px 24px;
  }
}
.hero-container {
  background: #00657c;
  margin: 16px 16px 80px 16px;
  border-radius: 1em;
  min-height: 600px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.hero-content {
  color: #fbfaf7;
  text-align: center;
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  font-family: Thunder;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.title {
  font-size: 48px;
  margin: 90px 24px 0px;
  font-variation-settings: "wght" 700, "CNTR" 0;
}

.subtitle {
  font-size: 64px;
  font-style: italic;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
}

.crowd {
  width: 100%;
  height: auto;
}

@media (min-width: 1024px) {
  .hero-container {
    margin: 1.5% 1.5% 5% 1.5%; /* top, right, bottom, left */
  }
  .title {
    font-size: 5vw;
    margin: 140px 24px 0px;
  }
  .subtitle {
    font-size: 10vw;
  }
  .hero-text {
    gap: 24px; /* Increased from 12px to 24px */
  }
  .crowd {
    height: 40vh;
  }
}
/* Navbar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto; /* Center the nav bar */
  padding: 16px 0; /* Add vertical padding */
  position: relative;
  z-index: 1000; /* Keep nav above other elements */
}

.logo {
  width: 130px;
  height: auto;
}

.nav-btn-container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  z-index: 1000;
  width: auto;
  position: relative; /* Default position */
}

/* Desktop Adjustments */
@media (min-width: 1024px) {
  .logo {
    width: 150px;
    height: auto;
  }
  .nav-btn-container {
    position: fixed;
    top: 28px;
    right: 25px;
    z-index: 1000;
  }
}
.card-section {
  margin: 1em;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container h1 {
  text-align: center;
  color: #1c1c1c;
  font-family: Thunder;
  font-size: 48px;
  font-variation-settings: "wght" 700, "CNTR" 0;
  line-height: normal;
  letter-spacing: 0.03em;
}

.text-container p {
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  max-width: 550px;
  margin-inline: auto;
  margin-bottom: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  text-align: center;
  background-color: #ecece2;
  padding: 24px;
  margin-bottom: 32px;
  max-width: 448px;
}

.card-title {
  color: #00657c;
  font-family: Thunder;
  font-size: 48px;
  font-variation-settings: "wght" 700, "CNTR" 0;
  font-style: italic;
  margin-bottom: 8px;
  margin-top: 0;
}

.card-text {
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
}

.card-text span {
  color: #ff5740;
  font-weight: bold;
}

.image-container {
  background-color: #59b0c4;
  height: 150px;
  border-radius: 10px;
}

.card:nth-child(4) {
  margin-bottom: 80px;
}

.card:nth-child(2) .image-container {
  background-color: #59b0c4;
}

.card:nth-child(3) .image-container {
  background-color: white;
}

.card:nth-child(4) .image-container {
  background-color: #00657c;
}

#megaphone {
  position: relative;
  top: -45px;
}

#buildings {
  position: relative;
  top: -13px;
}

#ballot {
  position: relative;
  top: -38px;
}

@media (min-width: 1024px) {
  .text-container h1 {
    font-size: 64px;
    margin-bottom: 24px;
  }
  .text-container p {
    margin-bottom: 80px;
    font-size: 24px;
  }
  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 120px;
    gap: 8px;
  }
  .card {
    width: 400px;
    height: auto;
  }
  .image-container {
    margin-top: auto;
  }
  .card-section {
    display: block;
  }
  .card-text {
    font-size: 20px;
  }
}
.why-section {
  background-color: #ecece2;
}

.why-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why-title {
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: Thunder;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.why-subtitle {
  margin: 0px 70px 40px 70px;
  text-align: center;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.scroll-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll-text {
  text-align: center;
  font-family: Thunder;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.03em;
  margin: 0px 40px;
}

.number-icon {
  margin-bottom: 16px;
}

@media (min-width: 1024px) {
  .why-title {
    font-size: 64px;
  }
  .why-subtitle {
    font-size: 24px;
  }
  .scroll-text {
    width: 1000px;
    font-size: 64px;
  }
}
.how-section {
  background-color: white;
  margin-bottom: 200px;
}

.how-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.how-title {
  margin-top: 55px;
  margin-bottom: 16px;
  color: #1c1c1c;
  font-family: Thunder;
  font-size: 48px;
  font-weight: 600;
}

.how-subtitle {
  margin: 0 10px 40px 10px;
  text-align: center;
  color: #1c1c1c;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  max-width: 550px;
}

.how-container {
  margin-bottom: 230px;
  position: relative;
}
.how-container.left-aligned .how-info {
  text-align: left;
}
.how-container.right-aligned .how-info {
  text-align: right;
}
.how-container.right-aligned .how-info svg {
  left: unset;
  right: 0;
  height: 288px;
  width: auto;
}
.how-container.right-aligned .how-info h1 {
  margin-left: unset;
  margin-right: 16px;
}
.how-container.right-aligned .how-info img {
  margin: 0 16px;
}
.how-container.right-aligned .how-info p {
  margin: 0px 16px 16px 50px;
}
.how-container.orange-text h1 {
  color: #ff5740;
}
.how-container.lightblue-text h1 {
  color: #59b0c4;
}
.how-container.small-bottom-margin {
  margin-bottom: 80px;
}

.how-info {
  display: flex;
  flex-direction: column;
  position: relative;
}
.how-info svg {
  position: absolute;
  top: -140px;
  left: 0;
  height: 288px;
  width: auto;
}
.how-info h1,
.how-info p {
  position: relative;
}
.how-info h1 {
  color: #00657c;
  font-family: Thunder;
  font-size: 60px;
  font-style: italic;
  font-weight: 700;
  line-height: 100%;
  margin: 0;
  margin-left: 16px;
}
.how-info p {
  color: #1c1c1c;
  font-family: Manrope;
  font-size: 24px;
  margin: 0px 16px 16px 16px;
  font-weight: 400;
}

.how-container img {
  margin: 0;
  z-index: 1;
  border-radius: 16px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-wrapper {
  position: relative;
  display: block; /* Ensure it's a block-level element */
  margin: 0 auto;
  overflow: hidden;
  margin: 0 16px;
  border-radius: 16px;
  aspect-ratio: 3/2; /* For a 3:2 aspect ratio */
  max-width: 100%; /* Ensure it doesn't exceed the container width */
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 16px; /* Apply border-radius here if needed */
}

@media (min-width: 1024px) {
  .how-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px; /* Adjusted gap for better scaling */
  }
  .how-container img {
    max-width: 590px;
    width: 100%;
    object-fit: cover;
  }
  .image-wrapper {
    max-width: 590px;
    margin: 0 32px;
    aspect-ratio: 1/1;
  }
  .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .how-text-container {
    margin-bottom: 100px;
  }
  .how-title {
    font-size: 64px;
  }
  .how-subtitle {
    max-width: 550px;
    font-size: 24px;
  }
  .how-info {
    max-width: 640px;
    margin-left: 50px; /* Reduced margin for better scaling */
  }
  .how-info h1 {
    font-size: 100px; /* Adjust font size for scalability */
    width: 100%;
  }
  .how-info p {
    width: 100%;
    max-width: 405px;
  }
  .how-info svg {
    position: absolute;
    left: -15%;
    top: -200px;
    height: 590px;
    width: auto;
  }
  .how-container .how-info,
  .how-container .image-wrapper {
    flex: 1 1 50%;
  }
  /* Adjustments for the right-aligned container */
  .how-container.right-aligned {
    flex-direction: row-reverse;
    margin-left: 5vw;
  }
  .how-container.right-aligned .how-info {
    margin-left: 0;
    margin-right: 50px; /* Adjusted for symmetry */
  }
  .how-container.right-aligned .how-info svg {
    height: 590px;
    width: auto;
    right: -7%;
  }
  .how-container.right-aligned .how-info p {
    text-align: left;
    margin: 0px 16px 16px 16px;
  }
  .how-container.right-aligned .how-info h1 {
    text-align: left;
  }
  .how-container.left-aligned {
    margin-right: 5vw;
  }
}
:root {
  --active-width: 55%;
  --inactive-width: 22.5%; /* (100% - 55%) / (2 inactive pillars) */
}

.pillar-title-container {
  padding: 40px 0px;
  text-align: center;
  color: #1c1c1c;
}

.pillar-title-container h1 {
  margin: 0px 40px 16px 40px;
  font-family: Thunder;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pillar-title-container p {
  margin: 0px 50px;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pillar-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  gap: 16px;
  padding-left: 16px;
  margin: 0 16px 24px 16px;
}

.pillar-card {
  flex: 0 0 calc(100% - 40px);
  scroll-snap-align: center;
  background-color: #ecece2;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 400px;
  width: 340px;
  padding: 0;
  border-radius: 16px;
}

.pillar-carousel::-webkit-scrollbar {
  display: none;
}

.pillar-card svg {
  position: absolute;
  top: 10%;
  bottom: 0;
  right: 0;
  width: 50%;
  height: auto;
}

.pillar-card:nth-of-type(2) {
  height: 400px;
}

.pillar-card:nth-of-type(2) svg {
  height: auto;
}

.pillar-text-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.pillar-text-container h1 {
  color: #00657c;
  font-family: Thunder;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px 0px 8px 0px;
}

.pillar-text-container p {
  color: #1c1c1c;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

#inform-pillar {
  height: 575px;
  width: 140px;
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 80px;
}

.arrow {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ff5740;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.arrow:disabled {
  background-color: #ffb1a6;
  cursor: not-allowed;
}

/* Desktop Styles */
@media (min-width: 1024px) {
  .pillar-title-container p {
    font-size: 24px;
  }
  .pillar-text-container {
    position: relative;
  }
  .pillar-text-container p {
    max-width: 60%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
  }
  .pillar-card.active p {
    display: block;
    font-size: 20px;
  }
  .pillar-text-container h1 {
    font-size: 3.5em;
    position: relative;
    margin: 0 0 8px 0;
  }
  .pillar-carousel {
    overflow-x: hidden;
    align-items: flex-end;
    height: 600px;
    flex-wrap: nowrap; /* Ensure items don't wrap */
  }
  .pillar-title-container h1 {
    font-size: 64px;
  }
  .pillar-card {
    min-width: 0;
    flex: 0 0 auto;
    width: var(--inactive-width); /* Default width for inactive pillars */
    overflow-y: hidden;
    position: relative;
  }
  .pillar-card.active {
    width: var(--active-width); /* Width when active */
  }
  /* Set specific widths for each card */
  .pillar-card:nth-of-type(1) {
    height: 100%;
  }
  .pillar-card:nth-of-type(2) {
    height: 85%;
  }
  .pillar-card:nth-of-type(3) {
    height: 70%;
  }
  /* Adjust SVG positioning */
  .pillar-card svg {
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    transform-origin: bottom center;
  }
}
.cta-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ecece2;
  height: 500px;
  padding: 24px;
  margin-inline: 16px;
  border-radius: 16px;
  position: relative;
  margin-bottom: 100px;
}

.cta-card h1 {
  color: #00657c;
  text-align: center;
  font-family: Thunder;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
  z-index: 1;
}

.cta-card p {
  color: #1c1c1c;
  text-align: center;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
  z-index: 1;
}

.cta-card svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .cta-card {
    width: calc(100% - 64px);
    height: 420px;
    overflow: hidden;
    box-sizing: border-box;
    margin-inline: 32px;
  }
  .cta-card svg {
    width: 100%;
  }
  .cta-card p {
    margin-top: 0;
    font-size: 24px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100%; /* or max-width: 360px; */
  padding: 48px 20px 20px 20px;
  border-radius: 16px 16px 0 0;
  background-color: #00657c;
  box-sizing: border-box;
}

.company-info {
  margin-bottom: 48px;
}

.company-info svg {
  margin-bottom: 24px;
  width: 180px;
  height: auto;
}

.footer-body-text {
  color: white;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.newsletter h1 {
  color: white;
  font-family: Thunder;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.newsletter-form {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  margin-bottom: 32px;
}

.newsletter-form input {
  display: flex;
  height: 48px;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 30px;
  border: 1px solid rgba(48, 51, 56, 0.2);
  box-sizing: border-box;
}

.newsletter-form button {
  display: flex;
  width: 48px;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #ff5740;
}

.newsletter-form svg {
  width: 12px;
  height: 16px;
  flex-shrink: 0;
}

.email {
  display: flex;
  flex-direction: column;
}

.email h3 {
  margin: 0;
  margin-bottom: 20px;
  color: white;
  font-family: Thunder;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.03em;
}

.email p {
  margin: 0;
  margin-bottom: 40px;
  color: white;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.find-yourself {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.find-yourself h3 {
  font-family: Thunder;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  color: white;
  letter-spacing: 0.03em;
}

.find-yourself p {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  color: white;
}

.policies {
  margin-right: 16px;
  color: var(--white, #fff);
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.stay-connected {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
}

.stay-connected h3 {
  color: white;
  font-family: Thunder;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
}

.stay-connected p {
  color: white;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 8px 0;
}

.footnote {
  display: flex;
  padding-top: 24px;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footnote p {
  color: white;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1 0 0;
}

.social-media-mobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-media-desktop {
  display: none;
}

#youtube {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

@media (min-width: 1024px) {
  .social-media-mobile {
    display: none;
  }
  .footer {
    padding: 48px 32px 24px 32px;
  }
  .desktop-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .left-container {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }
  .footer-body-text {
    font-size: 18px;
  }
  .company-info svg {
    width: 250px;
    height: auto;
  }
  .newsletter-form input {
    width: 450px;
  }
  .newsletter {
    display: none;
  }
  .footer-body-text {
    display: none;
  }
  .right-container {
    display: flex;
    gap: 95px;
  }
  .column-container {
    order: 3;
    gap: 95px;
  }
  .policies h3 {
    font-family: Thunder;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    color: white;
    letter-spacing: 0.03em;
  }
  .policies {
    line-height: normal;
  }
  .find-yourself h3 {
    font-size: 24px;
  }
  .find-yourself p {
    font-size: 18px;
  }
  .stay-connected {
    order: 1;
  }
  .stay-connected h3 {
    font-size: 24px;
  }
  .stay-connected p {
    font-size: 18px;
  }
  .email {
    order: 2;
  }
  .email h3 {
    font-size: 24px;
  }
  .email p {
    font-size: 18px;
  }
  .footnote {
    font-size: 18px;
  }
  .social-media-desktop {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  #youtube {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
html {
  scroll-behavior: smooth;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px; /* Initial width matching the button */
  height: 14px; /* Initial height matching the button */
  padding: 0;
  display: none; /* Hidden by default */
  justify-content: flex-end;
  align-items: flex-start;
  background: white;
  border-radius: 10px;
  border: 1px solid #ff5740;
  transition: all 0.3s ease-out;
  transform-origin: top right;
  z-index: 99;
}

/* Menu Active State */
.menu.active {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 100px);
  height: auto;
  padding: 24px;
  gap: 4px;
  justify-content: space-between;
  border-radius: 10px;
  background: white;
  flex-shrink: 0;
  /* We'll set 'top' and 'right' via JavaScript */
  transform: none;
  z-index: 99;
}

.menu.active .nav-btn-container {
  z-index: 101;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.menu-items h1 {
  color: #00657c;
  font-family: Thunder;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.menu-items a {
  color: #00657c;
  text-decoration: none;
}

.menu-items a:visited {
  color: #00657c;
  text-decoration: none;
}

.email-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.email-block h3 {
  color: #00657c;
  font-family: Thunder;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}

.email-block p {
  color: #00657c;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.social-links {
  color: #00657c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.social-links a {
  text-decoration: none;
  cursor: pointer;
}

.social-links a:visited {
  color: #00657c;
}

.social-links h3 {
  font-family: Thunder;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.social-links p {
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

/* Fix the buttons to the top of the screen when active */
.fixed {
  position: fixed;
  top: 28px;
  right: 25px;
  z-index: 101;
}

.blurred {
  filter: blur(10px);
}

/* Blur Overlay */
#blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100; /* Below menu and buttons */
  display: none; /* Hidden by default */
}

#blur-overlay.active {
  display: block;
}

@media (min-width: 1024px) {
  .nav-btn-container {
    position: relative;
    top: auto;
    right: auto;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 14px;
    padding: 0;
    overflow: hidden;
    display: none; /* Hidden by default */
    transition: all 0.3s ease-out;
    transform-origin: top right;
    z-index: 999;
  }
  .menu.active {
    width: 35vw;
    height: auto;
    border-radius: 10px;
    padding: 24px;
    border-radius: 10px;
    border: 1px solid #ff5740;
    /* 'top' and 'right' set via JavaScript */
  }
  /* Keep nav-btn-container fixed when menu is active */
  .menu.active .nav-btn-container {
    position: relative;
    top: auto;
    right: auto;
  }
  /* Adjust menu items spacing */
  .menu-items {
    gap: 16px;
    margin-top: 70px;
    margin-bottom: 32px;
  }
  .menu-items h1 {
    font-size: 3.5vw;
  }
  .email-block h3 {
    margin-bottom: 0;
  }
  .social-links {
    gap: 8px;
  }
  .menu-content {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  .menu.active .menu-content {
    opacity: 1;
  }
  /* Remove blur overlay on desktop */
  #blur-overlay {
    display: none;
  }
}
body {
  background-color: white;
}

.content-container {
  background-color: #00657c;
  margin: 16px 16px;
  border-radius: 16px;
  padding: 12px;
  height: 90vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 240px;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
}

.error-container h1 {
  color: white;
  text-align: center;
  font-family: Thunder;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.error-container p {
  color: white;
  text-align: center;
  /* Body */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
}

.watermark {
  color: rgba(255, 255, 255, 0.08);
  text-align: center;
  font-family: Thunder;
  font-size: 280px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  position: absolute;
  top: -55px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
}

body {
  box-sizing: border-box;
}

.body-container {
  background-color: #00657c;
  margin: 16px 16px;
  border-radius: 16px;
  padding: 12px 12px 32px 12px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: #fff;
  width: 820px;
  height: 600px;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #ff5740;
}

.forms-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forms-header h1 {
  color: var(--Black, #1c1c1c);
  text-align: center;
  /* Title */
  font-family: Thunder;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.forms-header p {
  color: var(--Black, #1c1c1c);
  text-align: center;
  /* Body */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#form-nav {
  margin-bottom: 30px;
}

.form-buttons-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 8px;
}

.form-button {
  display: flex;
  padding: 24px;
  flex-direction: row;
  gap: 32px;
  border-radius: 16px;
  background-color: #ecece2;
  color: #00657c;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.form-button:hover {
  background-color: #00657c;
  color: #fff;
}

.form-button h2 {
  font-family: Thunder;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.number {
  display: flex;
  width: 22px;
  padding: 8px 11px 7px 11px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  color: #00657c;
  text-align: center;
  font-family: Thunder;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Hide menus by default */
.menu-container {
  display: none;
  position: relative;
}

/* Style for the back button */
.back-button {
  position: absolute;
  top: 16px;
  left: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Adjust the SVG icon inside the button */
.back-button svg {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: #1c1c1c; /* Adjust the color as needed */
}

/* Optional: Change the color on hover */
.back-button:hover svg {
  stroke: #ffa500; /* Change to your desired hover color */
}

/* Ensure the rest of the menu content is styled appropriately */
.menu-container h2 {
  margin-top: 64px; /* Add top margin to avoid overlapping with the back button */
  font-family: Thunder;
  font-size: 48px;
  margin-bottom: 16px;
}

.menu-container p {
  font-family: Manrope;
  font-size: 16px;
}

.form {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-group {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-group label {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
}

.form-group input,
.form-group select {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-bottom-color: #59b0c4; /* Adjust to your theme color */
}

.submit-button {
  width: 100%;
  padding: 16px;
  background-color: #ff5740;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-family: Thunder, sans-serif;
  font-size: 24px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #d64936; /* Slightly darker on hover */
}

span {
  font-family: Manrope, sans-serif;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.social-media p {
  color: white;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.media-button-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-self: stretch;
}

.media-button {
  display: flex;
  padding: 24px;
  background-color: #ecece2;
  color: #00657c;
  border-radius: 8px;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border: none;
  text-align: center;
  font-family: Thunder;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  justify-content: center;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #00657c;
  height: 100%;
  padding: 50px;
  border-radius: 10px;
}

.thank-you-header h1 {
  color: white;
  text-align: center;
  /* Title */
  font-family: Thunder;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.thank-you-header p {
  color: white;
  text-align: center;
  /* Body */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#thank-you {
  height: 400px;
}

.mobile-form {
  display: none;
}

.desktop-form {
  display: block;
}

/* Donation Platform Dropdown */
#donate-menu .form label {
  color: #1c1c1c;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#donate-menu .form select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Suggested Contribution Buttons */
.suggested-contributions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 16px;
}

.contribution-button {
  flex: 1 0 0;
  padding: 12px;
  font-size: 16px;
  background-color: #ecece2;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  height: 60px;
  color: #00657c;
  font-family: Thunder;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.contribution-button.selected {
  background-color: #00657c;
  color: white;
}

#paypal-donation-form {
  width: 90%;
}

#paypal-donation-form label {
  color: #1c1c1c;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Custom Amount Input */
.custom-amount {
  margin-bottom: 16px;
}

.custom-amount label {
  font-family: Manrope, sans-serif;
  font-size: 16px;
}

.custom-amount input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

/* PayPal Button Container */
#paypal-button-container {
  width: 90%;
}

#zeffy-donation-form {
  width: 90%;
}

/* Zeffy Button */
.zeffy-button {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background-color: #ff5740;
  border: none;
  width: 100%;
  color: #fbfaf7;
  text-align: center;
  cursor: pointer;
  /* Button */
  font-family: Thunder;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.donate-button {
  display: flex;
  height: 48px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background-color: #ff5740;
  border: none;
  width: 100%;
  color: #fbfaf7;
  text-align: center;
  cursor: pointer;
  /* Button */
  font-family: Thunder;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.center-givebutter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.form-border {
  border: 1px solid #d4d4d4;
  max-width: 601px;
  width: 100%;
  border-radius: 20px;
}

.zeffy-btn {
  background-color: #ff5740;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  left: calc(50% - 75px);
  margin: 10px;
  min-height: 50px;
  min-width: 150px;
  padding: 5px 10px;
  text-transform: uppercase;
  top: calc(50% - 25px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#volunteer-form {
  display: flex;
  flex-direction: column;
}

.menu-desc {
  max-width: 500px;
  display: block;
}

.menu-desc-mobile {
  display: none;
}

@media (max-width: 1023px) {
  .form-border {
    border: none;
  }
  .body-container {
    height: 100%;
    min-height: 800px;
  }
  .menu-desc-mobile {
    display: block;
  }
  .menu-desc {
    display: none;
  }
  .form-row {
    flex-direction: column;
  }
  .form-group {
    flex: none;
    width: 100%;
  }
  .suggested-contributions {
    flex-direction: column;
  }
  .contribution-button {
    width: 100%;
    flex: none;
    height: 60px;
  }
  .forms-container {
    width: 85%;
    height: 100%;
    min-height: 450px;
    max-height: 700px;
  }
  .mobile-form {
    display: block;
  }
  .desktop-form {
    display: none;
  }
  .form-buttons-container {
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .background {
    display: block;
    background-color: white;
    padding: 0;
    height: auto;
  }
  .thank-you-header p {
    color: #00657c;
  }
  .thank-you-header h1 {
    color: #00657c;
    font-size: 48px;
  }
  .social-media p {
    color: #00657c;
  }
  .forms-header p {
    font-size: 18px;
  }
  .forms-header h1 {
    font-size: 48px;
  }
  #volunteer-title {
    max-width: 300px;
  }
  #donate-menu {
    gap: 16px;
  }
  #donation-title {
    margin-top: 30px;
  }
  .donation-label {
    display: block;
    margin-bottom: 12px;
  }
  .zeffy-button {
    width: 90%;
  }
  #main-title {
    font-size: 64px;
  }
  #main-form-buttons {
    margin-bottom: 30px;
  }
  #main-form-header {
    margin-top: 30px;
  }
}
body {
  margin: 0;
  isolation: isolate;
}

/*# sourceMappingURL=styles.css.map */
